.btn {
  @include font-poppins;

  padding: 13px 40px;
  border: 0;
  border-radius: 40px;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.75px;
  text-align: center;
  transition: 0.1s;

  &:disabled {
    background-color: #a0a3bd;
  }
}

.btn--lg {
  padding: 20px 75px;
  font-size: 25px;
  line-height: 28px;
}

.btn-orange {
  background-color: $cl-orange-btn;

  &:not(:disabled):hover {
    background-color: $cl-orange-active;
  }

  &:not(:disabled):active {
    opacity: 60%;
  }
}

.btn-blue {
  background-color: $cl-blue;

  &:not(:disabled):hover {
    background-color: $cl-blue-active;
  }

  &:not(:disabled):active {
    opacity: 60%;
  }
}

@media (max-width: 512px) {
  .btn--lg {
    padding: 15px 45px;
    font-size: 20px;
  }
}
