section.info 
  h2.visually-hidden About us

  .container.info__container
    .info__column
      h2 Fast
      p Allows for up to 1000 calls per <br>minute
    .info__column
      h2 Optimized
      p Continuous update and direction <br>of interruption 
    .info__column
      h2 Free
      p And always remained so to allow the animals to be adopted more easily. 
