section.main-search
  .container.main-search__container
    .main-search__text-block 
      p
        strong Make your first search 
      p
        | Thousands of <b>animals</b> are just waiting for you. 
    .main-search__form
      +searchForm("index")
