*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  @include font-poppins;

  position: relative;
  background-color: #ffffff;
  color: $cl-blue;
  font-size: 17px;
  letter-spacing: 0.75px;
}

body._menu-open {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

button:not(:disabled) {
  cursor: pointer;
}

.section-title {
  margin: 0;
  font-weight: 600;
  font-size: 48px;
}

@media (max-width: 515px) {
  .section-title {
    font-size: 40px;
  }
}
