// Color pallete
$cl-orange: #ff9f00;
$cl-orange-footer: #f2994a;
$cl-orange-active: #ee7911;
$cl-orange-btn: #f2994a;
$cl-blue: #2e4960;
$cl-blue-active: #003461;
$cl-cream: #f5e7d1;
$cl-active: #14142b;
$cl-success: #00ba88;
$cl-error: #ed2e7e;

// Fonts
@mixin font-poppins {
  font-family: "Poppins", "Arial", sans-serif;
}

@mixin font-dmsans {
  font-family: "DMSans", "Arial", sans-serif;
}
  
@mixin h1 {
  font-weight: 700;
  font-size: 34px;
}

@mixin h2 {
  font-size: 24px;
}

@mixin h3 {
  font-size: 22px;
}

@mixin h4 {
  font-size: 20px;
}

// Screen sizes
$table-width: 100px;
$mobile-width: 575px;

// Mobile menu
$mobile-menu-width: 450px;
$mobile-menu-rule: 1000px;
$mobile-menu-rule-full: 575px;
$mobile-menu-transition: transform 0.5s;
$mobile-menu-translate: translateX(-$mobile-menu-width);
