extends common/layout.pug

block title
  | UI test page

block body
  section.container
    h1 Test page
    h2 Header 2
    h3 Header 3
    h4 Header 4
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente vitae, neque suscipit magni, omnis doloremque labore quaerat officiis qui numquam culpa aperiam sint tempora modi repellendus doloribus iusto, fugiat optio!

    //- Search-forms
    +searchForm()
    +searchForm("index")

    //- Inputs
    br
    +formInput({
      placeholder: "Placeholder"
    })

    br
    +formInput({
      placeholder: "Placeholder",
      mode: "valid"
    })

    br
    +formInput({
      placeholder: "Placeholder",
      mode: "invalid"
    })

    br
    +formInput({
      type: "file",
      placeholder: "Attach file here",
    })
    br
    //- Buttons
    button.btn.btn--orange  Add
    button.btn.btn--blue Add
    
    a.link(href="#") Homepage 
