.fixed-buttons 
  .fixed__buttons__help
    p.js-contrastable-text Need help?
    button.btn.contrastable-btn.js-contrastable-btn
      span help
      .contrastable-btn__bg.contrastable-btn__bg--contrast
    
  button.fixed__buttons__to-top.contrastable-btn.js-contrastable-btn
    .contrastable-btn__bg.contrastable-btn__bg--contrast
    span.visually-hidden Back to top 
    +svgIcon("icons", "arrow-up", 10, 6)
